header {
  background-image: url(lesson04-mock2-banner-image.jpg);
  padding: 1em 1em 1em 9em;
  margin: -1em -1em 0em -1em;
}

aside {
  float: right;
  width: 30%;
  margin: 1em 0em 1em 3em;
}

article {
  padding-bottom: 2em;
}

article.main-article {
  margin: 0em 2em 0em 3em;
}

section.main-section {
  padding: 1em 9em 1em 5em;
}

section.footer-section{
  text-align: center;
}

section {
  padding: 0em 0em 1em 0em;
  overflow: auto;
}

footer {
  background-image: url(lesson04-mock4-footer-image.jpg);
  position: relative;
  clear: both;
  padding: 2em 2em 2em 2em;
  margin: -1em -1em 0em -1em;
  overflow: hidden;
}

figure.sidebar-image {
  margin: 0em 0em 1em 0em;
}

img.sidebar-image {
  width: 100%;
}

img.footer-image {
  width: 25%;
}

img.cat-bio {
  object-fit: cover;
  width:100px;
  height:100px;
  float: left;
  padding: 0em 1em 0em 0em;
}

nav {
  background-color: rgb(235, 235, 235);
  padding: .25em .25em .25em 9em;
  margin: 0em -1em 0em -1em;
}

p {
  color: rgb(57, 57, 57);
  font-family: Arial, sans-serif;
  font-size: .75em;
  line-height: 1.5;
}

p.footer-p{
  color: white;
}

h1 {
  color: White;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-size: 3em;
}

h2 {
  color: White;
  font-style: oblique;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
}

h3 {
  color: rgb(57, 57, 57);
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-size: 1em;
}

h4 {
  color: rgb(44,154,183);
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

h4.nav-h4{
  color: rgb(57, 57, 57);
}

a {
  text-decoration: none;
  color: rgb(89, 187, 213);
  font-family: Arial, sans-serif;
}

a.nav-links {
  color: rgb(57, 57, 57);
}

a.sidebar-a {
  font-size: smaller;
}

a:hover {
  color: rgb(89, 187, 213);
}

blockquote {
  color: rgb(89, 187, 213);
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin-left: 0em;
  padding: 1em 0em 1em 0em;
}
